@using MvcJqGrid
@using MvcJqGrid.Enums

@{
    ViewBag.Title = "Member Community";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<script type="text/javascript">

    function FormatViewLink(cellValue, options, rowObject) {
        var linkHtml = '<a onclick="onSelectItem()" href="/Community/View/' + options.rowId + '"><b>' + cellValue + '</b></a>';
        return linkHtml;
    }
    function onSelectItem() {
        $.jgrid.saveState("communityGrid");
        return true;
    }
</script>

<div id="sub_tit">
    <ul>
        <li>Member Community</li>

    </ul>

</div>
<div class="navi">
    @Html.ActionLink("Home", "Index", "Home") ><a href="~/Communication/Index/0/0" class="ali"> Communication</a> > <span>Member Community</span>

</div>
<div class="myinfo_t2" style="width: 960px">
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Add Record", "Create", new { controller = "Community" }, new { @class = "bt_green" })
    }
   
    @(Html.Grid("communityGrid")
        .SetRequestType(RequestType.Post)
        .SetJsonReader(new MvcJqGrid.DataReaders.JsonReader { Id = "ID", RepeatItems = false })
        .AddColumn(new Column("Title").SetWidth(850).SetSortable(false).SetLabel("Title").SetSearch(true).SetCustomFormatter("FormatViewLink"))
        .AddColumn(new Column("InsertDate").SetFormatter(Formatters.Date).SetSortable(false).SetLabel("Date").SetSearch(false))
      
    .SetUrl(Url.Action("Search", "Community"))
    .SetAutoWidth(true)
    .SetRowNum(15)
    .SetRowList(new[] { 15, 30, 50 })
    .SetViewRecords(true)
    .SetPager("pager")
    .SetSearchToolbar(true).SetSearchOnEnter(true)

    )
</div>
<script>
    var reloadData = "@ViewBag.ReloadData";
    if (reloadData.length > 0) {
        removeGridCacheData("communityGrid");
    } else {
        $.jgrid.loadState("communityGrid", {}, { clearAfterLoad: true });
    }
  
</script>



