@model AmeCaseBookOrg.Models.IndexViewModel
@{
    ViewBag.Title = "Change your password";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<div id="sub_tit">
    <ul>
        <li>Change your password.</li>
    </ul>
</div> 

<p class="text-success">@ViewBag.StatusMessage</p>
