@model AmeCaseBookOrg.Models.IndexViewModel
@{
    ViewBag.Title = "Change your password";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<div id="sub_tit">
    <ul>
        <li>Change your password.</li>
    </ul>
</div> 
<div id="contents">
    <div class="navi">
        @Html.ActionLink("Home", "Index", "Home") > <span>Change your password</span>
    </div>
    <div style="width:960px;margin:0 auto;">
        <h1>
            @ViewBag.StatusMessage
        </h1>
    </div>
</div>

