@model AmeCaseBookOrg.Models.ApplicationUser
@using MvcJqGrid
@using MvcJqGrid.Enums
@{
    ViewBag.Title = "Permission Management";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<div id="sub_tit">
    <ul>
        <li>Permission Management</li>
    </ul>
</div>
<script type="text/javascript">
    function onGridLoadCompleted() {
        var grid = jQuery("#memberGrid"),
         ids = grid.jqGrid("getDataIDs");
        if (ids && ids.length > 0)
        {
            onMainRowSelected(ids[0]);
        }
        
    }
    function MainRowFormatViewLink(cellValue, options, rowObject) {
        var linkHtml = "<a href='#' onClick=\"onMainRowSelected('" + options.rowId + "'); return false;\" > <b>" + cellValue + "</b></a>";

        return linkHtml;
    }
    function onMainRowSelected(rowid) {
        var data = jQuery("#memberGrid").jqGrid("getRowData", rowid);
        $("#UserName").val(rowid);
        $("#lbSelectUserName").html("Select member : " + data.FullName);
        $("#divSubMenu").html("");
        $.ajax({url:"Permission/GetAllSubMenu", data:{ userName: rowid }, method:"POST"}).done(function (data) {
            
            var items = [];
            $.each(data.rows, function (key, val) {
                var selected = val.IsSelected ? "Checked" : "";
                items.push("<li><input name='Codes[]' type='checkbox' value='" + val.Code + "' " + selected + " /> " + val.CodeName + " </li>");
            });
            $("<ul/>", {
                "class": "my-new-list",
                html: items.join("")
            }).appendTo("#divSubMenu");

            if (status == "error") {
                var msg = "Sorry but there was an error: ";
                $("#error").html(msg + xhr.status + " " + xhr.statusText);
            }
        })
        .error(function (data) {
            alert(data);
        })
        ;
       
    }
    function onSavePermission() {
       
        var data = $("#frmPermission").serialize();
        $.ajax({
            url: "Permission/SavePermission", // link of your "whatever" php
            type: "POST",
            async: true,
            cache: false,
            data: data, // all data will be passed here
            success: function (data) {
                if (data.result) {
                    //alert("Saving compleled!");
                } else {
                    alert(data.message);
                }
            },
            error: function (data) {
                alert(data);
            }
        });
    }
</script>
<div id="contents">
    <div class="navi"> @Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Admin", "Index", "Admin") > <span>Permission Management</span> </div>
    <div style="width:960px;margin:0 auto;">
        <div class="myinfo_t2" style="width:450px;float:left;padding-right:10px;border-right:1px dotted #999;">
            @(Html.Grid("memberGrid")
            .SetRequestType(RequestType.Post)
            .SetJsonReader(new MvcJqGrid.DataReaders.JsonReader { Id = "Email", RepeatItems = false })
            .SetRowNumbers(true)
            .AddColumn(new Column("FullName").SetLabel("Name").SetSearch(true).SetCustomFormatter("MainRowFormatViewLink"))
            .AddColumn(new Column("Email").SetLabel("Email").SetSearch(true))
            .AddColumn(new Column("Country").SetLabel("Country").SetSearch(false))

            .SetUrl(Url.Action("SearchMember", "Permission"))
            .SetAutoWidth(true)
            .SetRowNum(10)
            .SetRowList(new[] { 10, 15, 20, 50 })
            .SetViewRecords(true)
            .SetPager("pager")
            .SetSearchToolbar(true).SetSearchOnEnter(true)
            .OnLoadComplete("onGridLoadCompleted()")
            )

        </div>
        <div class="myinfo_t2" style="width:450px;float:left;padding-left:10px;">
            <h1 style="font-size:15px;" id="lbSelectUserName"></h1>
            <form id="frmPermission"> 
                <br />              
                <label style="color:#9d9d9d;"> Menu </label> 
                <span style="float:right;padding-right:10px;"> <a class="bt_blue_t" href="#" onclick="onSavePermission()"> <i class="fa fa-floppy-o"></i> Save </a></span>
                <input type="hidden" id="UserName" name="UserName" />
                <div class="select_li" id="divSubMenu">

                </div>
            </form>
        </div>
    </div>
</div>