
@{
    ViewBag.Title = "Isgan";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<div id="sub_tit">
    <ul>
        <li>ISGAN </li>
    </ul>
</div>
<div id="contents">
    <div class="navi">
     @Html.ActionLink("Home", "Index", "Home") > <a href="~/About/Index/0/0" class="ali">About</a>  > <span>ISGAN</span>
    </div>
    <div class="datail_v">
        <h1>ISGAN</h1>
        <ul class="da_text">
            <li style="float:left;text-align:left;width:920px;padding:50px;">
                <p class="p_t bold"><i class="fa fa-check-circle"></i> What is ISGAN? </p>
                <p>
                    ISGAN is the short name for the International Energy Agency (IEA) Implementing Agreement for a Co-operative Programme on Smart Grids (ISGAN).
                    ISGAN creates a mechanism for multilateral government-to-government collaboration to advance the development and deployment of smarter electric grid technologies,
                    practices, and systems. It aims to improve the understanding of smart grid technologies, practices,
                    and systems and to promote adoption of related enabling government policies. - See more at: http://amicasebook.org/?page_id=590#sthash.GfsrjmnT.dpuf
                </p>
                <br />
                <p class="p_t bold"><i class="fa fa-check-circle"></i> Vision </p>
                <p>
                    ISGAN’s vision is to accelerate progress on key aspects of smart grid policy, technology, and related standards through voluntary participation by
                    governments in specific projects and programs. ISGAN will facilitate dynamic knowledge sharing, technical assistance, peer review and, where appropriate,
                    project coordination among participants. ISGAN activities center on those aspects of the smart grid where governments have regulatory authority, expertise
                    , convening power, or other leverage, focusing on five principal areas:
                </p>
                <br />
                <p> 1. Policy standards and regulation, 2. Finance and business models, 3. Technology system development, 4. Workforce skills and knowledge, 5. Users and consumers engagement</p>
                <br />
                <p>
                    Consistent with the IEA Framework, ISGAN will be open to governments (Contracting Parties) of IEA Member as well as non-Member countries.
                    Though the primary focus is on government-to-government cooperation, ISGAN will also be open to entities designated by a government,
                    Sponsors from the private sector, industry associations and international organizations.
                    ISGAN will strive to establish collaboration with already existing bodies in order to work as efficiently as possible.
                </p>
                <br />
            </li>
        </ul>
    </div>
</div>

