
@{
    ViewBag.Title = "Communication";
}

<div id="sub_tit">
    <ul>
        <li>Communication</li>
    </ul>
</div>
<div id="contents">
    <div class="navi"> @Html.ActionLink("Home", "Index", "Home") > <span>Communication</span> </div>
    <div style="margin:0 auto;width:900px;">
        <ul style="margin:20px;line-height:50px;border:1px solid #018349; border-radius:10px;height:200px;text-align:center; box-shadow:#CCC 0px 2px 2px 2px">
            <li style="float:left;width:420px;height:160px;padding-top:40px;border-right:1px solid #ddd;">
                <i class="fa fa-newspaper-o fa-5x" style="text-shadow:#CCC 0px 2px 2px 2px;"></i>
                <br />
                <a href="ann.html" style="font-size:24px;text-shadow:#CCC 0px 2px 2px 2px;" class="bold"> Announcements </a>
            </li>
            <li style="float:left;width:420px;height:200px;padding-top:40px;">
                <i class="fa fa-comments-o fa-5x" style="text-shadow:#CCC 0px 2px 2px 2px"></i>
                <br />
                <a href="~/Community/Index" style="font-size:24px;text-shadow:#CCC 0px 2px 2px 2px" class="bold"> Member Community</a>
            </li>

        </ul>



    </div>
</div>

