@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div id="sub_tit">
    <ul>
        <li>Forgot passwordli>
    </ul>
</div> 
<div id="contents">
    <div class="navi">
        @Html.ActionLink("Home", "Index", "Home") > <span>Forgot password confirmation</span>
    </div>
    <div style="width:960px;margin:0 auto;">
        <h1>
            Please check your email to reset your password.
        </h1>
    </div>
</div>

    

