@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div id="sub_tit">
    <ul>
        <li>Casebook Login</li>
    </ul>
</div> 
<div id="contents">
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div> 
</div>
    

