@model AmeCaseBookOrg.Models.ApplicationUser
@using MvcJqGrid
@using MvcJqGrid.Enums

@{
    ViewBag.Title = "My Case";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<div id="sub_tit">
    <ul>
        <li>My Case</li>

    </ul>

</div>
<script  type="text/javascript">
    function FormatViewLink(cellValue, options, rowObject) {
        var linkHtml = '<a onclick="onSelectItem()" href="/DataManagement/View?id=' + options.rowId + '"><b>' + cellValue + '</b></a>';

        return linkHtml;
    }
    function onSelectItem() {
        $.jgrid.saveState("myCaseGrid");
        return true;
    }
</script>
<div class="navi">
    @Html.ActionLink("Home", "Index", "Home") > <span>My Case</span>

</div>

<div class="myinfo_t2" style="width: 960px">
    @Html.ActionLink("Add Record", "Create", new { controller = "DataManagement", ReturnedURL = "Account/MyCase" }, new { @class = "bt_green" })
    @(Html.Grid("myCaseGrid")
        .SetRequestType(RequestType.Post)
        .SetJsonReader(new MvcJqGrid.DataReaders.JsonReader { Id = "ID", RepeatItems = false })
        .SetCaption("My case document list")
        .AddColumn(new Column("SubMenuName").SetLabel("Category").SetSearch(false))
        .AddColumn(new Column("Title").SetLabel("Title").SetCustomFormatter("FormatViewLink"))
        .AddColumn(new Column("InsertDate").SetLabel("Insert date").SetFormatter(Formatters.Date).SetSearch(false))
        .AddColumn(new Column("EditDate").SetLabel("Edit date").SetFormatter(Formatters.Date).SetSearch(false))
        .AddColumn(new Column("Author").SetLabel("Author").SetSearch(false))

    .SetUrl(Url.Action("searchListItem", "DataItem", new { userName = Model.UserName }))
    .SetRowNumbers(true)
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[] { 10, 15, 20, 50 })
    .SetViewRecords(true)
    .SetPager("pager")
    .SetSearchToolbar(true).SetSearchOnEnter(false)

    )
</div>

<script>
    $.jgrid.loadState("myCaseGrid", {}, { clearAfterLoad: true });
</script>