@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}
<div id="sub_tit">
    <ul>
        <li>@ViewBag.Title.</li>
    </ul>
</div> 
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
