@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}
<div id="sub_tit">
    <ul>
        <li>@ViewBag.Title.</li>
    </ul>
</div>
<div id="contents">
    <div class="navi">
        @Html.ActionLink("Home", "Index", "Home") > <span>Reset password confirmation</span>
    </div>
    <div style="width:960px;margin:0 auto;">
        <h1>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </h1>
    </div>
</div>